@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

  
  @media screen and (min-width: 769px), print {
    .field-label {
      flex-basis: 0;
      flex-grow: 2;
      flex-shrink: 0;
      margin-right: 1.5rem;
      text-align: right;
  }
  }

  $sizeUnit: rem;
  $marginKey: 'm';
  $paddingKey: 'p';
  $separator: '-';
  $sizes: (
      ('none', 0),
      ('xxs', 0.125),
      ('xs', 0.25),
      ('sm', 0.5),
      ('md', 1),
      ('lg', 2),
      ('xl', 4),
      ('xxl', 8),
  );
  $positions: (
      ('t', 'top'),
      ('r', 'right'),
      ('b', 'bottom'),
      ('l', 'left')
  );
  
  @function sizeValue($key, $value) {
      @return if($key == 'none', 0, $value + $sizeUnit);
  }
  
  @each $size in $sizes {
      $sizeKey: nth($size, 1);
      $sizeValue: nth($size, 2);
      .#{$marginKey}#{$separator}#{$sizeKey} {
          margin: sizeValue($sizeKey, $sizeValue);
      }
      .#{$paddingKey}#{$separator}#{$sizeKey} {
          padding: sizeValue($sizeKey, $sizeValue);
      }
      @each $position in $positions {
          $posKey: nth($position, 1);
          $posValue: nth($position, 2);
          .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
              margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
          }
          .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
              padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
          }
      }
  }


  .navbar-item {
    display: flex;
  }
  
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
  }
  
  .navbar-menu{
    margin-top: 0.3em;
    margin-left: 0.3em;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start{
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end{
    justify-content: flex-end;
    margin-left: auto;
  }